---
eleventyNavigation:
    key: Acsenton
    parent: SafetySystems
    title: ACSENTON
---

{% include "components/common/breacrumbs.njk" %}

<div class="container">
    <div class="common-padding">
        <div class="main-good-block">
            <div class="good-photos">

                <div class="splide_container">
                    <div class="splide goods-gallery mini-reviews" role="group">
                        <div class="splide__arrows">
                            <button class="splide__arrow splide__arrow--prev">
                                <i class="icon icon-arrow-200"></i>
                                <i class="icon icon-arrow-300"></i>
                            </button>
                            <button class="splide__arrow splide__arrow--next">
                                <i class="icon icon-arrow-200"></i>
                                <i class="icon icon-arrow-300"></i>
                            </button>
                        </div>
                        <div class="splide__track slides">
                            <ul class="splide__list">
                                {% for i in range(0, 6) %}
                                <li class="splide__slide">
                                    <div class="photo-preview" data-source-image="/images/goods/full/image{{ i % 3 + 1 }}.jpg">
                                        <img src="/images/goods/small/small{{ i % 3 + 1 }}.jpg" />
                                    </div>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="good-selected-photo zoom-image">
                    <div class="splide full-good-images">
                        <div class="splide__track">
                            <ul class="splide__list">
                                {% for i in range(0, 6) %}
                                <li class="splide__slide">
                                     <img class="full-image" data-splide-lazy="/images/goods/full/image{{ i % 3 + 1 }}.jpg">
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>

            </div>

            <div class="good-base-2">
                <div class="good-name">
                    <div class="category">Страховочная система</div>
                    <div class="name">CORAX</div>
                    <div class="code">Артикул: C051BA00<span class="separator">|</span>Код товара: 376147</div>

                </div>
                <div class="good-price">
                    <div class="price">6 390 руб.</div>
                    <div class="avaible">Наличие в интернет-магазине</div>
                </div>
                <div class="good-options">
                    <div class="good-colors">
                        <div class="small-label">Цвет:</div>
                        <div class="color-list">
                            <div class="color-preview selected" data-for-slide="1">
                                <img src="/images/goods/small/small1.jpg" />
                            </div>
                            <div class="color-preview" data-for-slide="2">
                                <img src="/images/goods/small/small2.jpg" />
                            </div>                    
                            <div class="color-preview" data-for-slide="3">
                                <img src="/images/goods/small/small3.jpg" />
                            </div>
                        </div>
                    </div>

                    <div class="good-sizes">
                        <div class="small-label">Размер:</div>
                        <div class="sizes-block">
                            <div class="size">1</div>
                            <div class="size selected">2</div>
                            <div class="size">3</div>
                        </div>      
                    </div>

                    <div class="good-count">
                        <div class="small-label">Количество:</div>
                        <div class="counter-block">
                            <div id="decrease-count" class="round-gray-btn"><i class="icon icon-minus"></i></div>
                            <div class="counter">1</div>
                            <div id="increase-count" class="round-gray-btn"><i class="icon icon-plus"></i></div>
                        </div>      
                    </div>
                </div>

                <button class="btn buy-input" type="submit"><i class="icon icon-bug"></i>В корзину</button>
            </div>

            <div class="good-flags">
                <div class="flag new"></div>
                <div class="flag eac"></div>
                <div class="flag sale"></div>
            </div>
        </div>
    </div>
        
    <div class="two-column-grid">
        <div class="left-column">
            <div class="common-padding">
                <div class="info-container">
                    <h2>УНИВЕРСАЛЬНАЯ РЕГУЛИРУЕМАЯ СТРАХОВОЧНАЯ СИСТЕМА</h2>
                    <p>
                        CORAX - это преимущественно универсальная обвязка. Она простая и удобная, предназначена для скалолазания, альпинизма или виа-феррата. На четырех петлях для снаряжения достаточно места для размещения всего необходимого. Обвязка доступна в трех цветах и двух размерах, чтобы соответствовать любым предпочтениям и типам телосложения.</br>
                    </p>

                    <p>
                        Универсальная и простая в использовании:</br>
                        - на поясе есть две пряжки регулировки DOUBLEBACK, обвязка отлично центрируется и петли для развески снаряжения располагаются симметрично</br>
                        - пряжки регулировки на ножных обхватах для настройки размера под разные типы телосложения или разную одежду</br>
                    </p>

                    <p>
                        Возможность организации и транспортировки снаряжения:</br>
                        - две жесткие петли в передней части обвязки для быстрого размещения оттяжек</br>
                        - две петли в задней части обвязки гибкие, они не мешают, если надеть рюкзак</br>
                        - задняя петля для вспомогательной веревки</br>
                        - можно установить вспомогательные карабины CARITOOL EVO для транспортировки ледобуров</br>
                    </p>

                    <p>
                        Комфортно носить:</br>
                        - конструкция FRAME Technology, вес отлично распределяется между поясом и ножными обхватами</br>
                        - подкладки из мягкой ткани в точках наибольшего давления</br>
                        - два размера и три варианта расцветки</br>
                    </p>
                </div>
            </div>

            <div class="slide-table good-data-table-slider margin-top-32">
                <div class="good-data-table-container">
                    <table class="good-data-table">
                        <tr>
                            <th>Артикул</th>
                            <td>C051AA00</td>
                            <td>C051CA00</td>
                            <td>C051AA01</td>
                            <td>C051CA01</td>
                            <td>C051BA00</td>
                            <td>C051BA01</td>
                        </tr>
                        <tr>
                            <th>Цвет</th>
                            <td>серый</td>
                            <td>серый</td>
                            <td>синий</td>
                            <td>синий</td>
                            <td>бирюзовый</td>
                            <td>бирюзовый</td>
                        </tr>
                        <tr>
                            <th>Размер</th>
                            <td>1</td>
                            <td>2</td>
                            <td>1</td>
                            <td>2</td>
                            <td>1</td>
                            <td>2</td>
                        </tr>
                        <tr>
                            <th>Поясной ремень</th>
                            <td>65-96 см</td>
                            <td>76-107 см</td>
                            <td>65-96 см</td>
                            <td>76-107 см</td>
                            <td>65-96 см</td>
                            <td>76-107 см</td>
                        </tr>
                        <tr>
                            <th>Ножные обхваты</th>
                            <td>48,5-59 см</td>
                            <td>54-67 см</td>
                            <td>48,5-59 см</td>
                            <td>54-67 см</td>
                            <td>48,5-59 см</td>
                            <td>54-67 см</td>
                        </tr>
                        <tr>
                            <th>Вес</th>
                            <td>470 г</td>
                            <td>520 г</td>
                            <td>470 г</td>
                            <td>520 г</td>
                            <td>470 г</td>
                            <td>520 г</td>
                        </tr>
                    </table>
                </div>
                <div class="good-data-table-arrows">
                    <div class="arrow arrow-left"><i class="icon icon-arrow-300"></i></div>
                    <div class="arrow arrow-right"><i class="icon icon-arrow-300"></i></div>
                </div>
            </div>
        </div>

        <div class="right-column common-padding">
            <div class="info-container good-characteristics">
                <h2>ХАРАКТЕРИСТИКИ</h2>
                <p>
                    Сертификация: CE EN 12277 type C, UIAA</br>
                    Материалы: стропа из высокопрочного полиэстера, пена с закрытыми порами, полиэстер</br>
                    Гарантия: 3 года</br>
                    Страна производства: Малайзия</br>
                </p>
            </div>     

            <div class="info-container good-video">
                <div style="padding:56.25% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/561221718?h=0b79471b8f&color=ffffff&title=0&byline=0&portrait=0" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
            </div>
            
            <div class="info-container good-files">
                <ul>
                    <li><img src="{{ '/images/icons/files-1.png' | url }}" /><span>Инструкция - <a href="#">Скачать pdf - CORAX-5 - 2.43 Мбайт</a></span></li>
                    <li><img src="{{ '/images/icons/files-2.png' | url }}" /><span>Отказное письмо - <a href="#">Скачать pdf - Отказное письмо - снаряжение - 2021 - 4.2 Мбайт </a></span></li>
                    <li><img src="{{ '/images/icons/files-3.png' | url }}" /><span>Процедура планового осмотра - <a href="#">Скачать pdf - спортивные обвязки - 1.94 Мбайт</a></span></li>
                    <li><img src="{{ '/images/icons/files-4.png' | url }}" /><span>Бланк проверки снаряжения - <a href="#">Cкачать pdf - спортивные обвязки - 0.4 Мбайт</a></span></li>
                    <li><img src="{{ '/images/icons/files-5.png' | url }}" /><span>Советы по уходу - <a href="#">Скачать pdf - Обвязки и привязи - 2.01 Мбайт</a></span></li>
                </ul>
            </div>
        </div>

        <div class="common-padding">
            <div class="faq-block">
                <h2>FAQ (2)</h2>
                <ul>
                    <li>
                        <div class="faq-question" data-hide-button-for="faq-answer-1">
                            <h3>Что означает серийный номер изделия Petzl?</h3>
                            <i class="icon icon-arrow-200"></i>
                        </div>
                        <div id="faq-answer-1" class="faq-answer">
                            <p>Современное обозначение серийного номера:</p>
                            <p>17J0103449 342</p>
                            <p>Где 17 – год изготовления, J –месяц изготовления, 0103449 – номер партии, 342 – приращение Данный формат серийных номеров начал появляться с 2016 года и полностью введен к 2018 году. В этот период также выпускались изделия с серийным номером предыдущего формата:</p>
                            <p>15248BA1763</p>
                            <p>В данном случае 15 - год изготовления, 248 - день изготовления, BA - имя инспектора, 1763 - приращение</p>
                        </div>
                    </li>
                </ul>
                <ul>
                    <li>
                        <div class="faq-question" data-hide-button-for="faq-answer-2">
                            <h3>Как установить подлинность снаряжения Petzl?</h3>
                            <i class="icon icon-arrow-200"></i>
                        </div>
                        <div id="faq-answer-2" class="faq-answer">
                            <p>Современное обозначение серийного номера:</p>
                            <p>17J0103449 342</p>
                            <p>Где 17 – год изготовления, J –месяц изготовления, 0103449 – номер партии, 342 – приращение Данный формат серийных номеров начал появляться с 2016 года и полностью введен к 2018 году. В этот период также выпускались изделия с серийным номером предыдущего формата:</p>
                            <p>15248BA1763</p>
                            <p>В данном случае 15 - год изготовления, 248 - день изготовления, BA - имя инспектора, 1763 - приращение</p>
                        </div>
                    </li>
                </ul>
            </div>   
        </div>
    </div>
</div>   

<div class="notext-hero margin-top-32" style="background-image: url(/images/heroes/red-shirt.jpg);"></div>

<div class="container">
    <div class="common-padding">
        <div class="look-another">
            <h2>Смотрите также</h2>
            {% set goodsGroup = "sport" %}
            {% set goodsCount = 5 %}
            {% include "components/goods/big-goods-list.njk" %}
        </div>

        {% include "components/news/news-preview-block.njk" %}
    </div>
</div>