---
eleventyNavigation:
    key: Main
    title: Главная
---

<div class="hero mainpage-hero">
    <div class="container">
        <div class="hero-content">
            <div class="hero-title">Каталог PRO 2022</div>
            <div class="hero-description">Новый каталог - снаряжение для работы на высоте</div>
            <a class="white-transp-btn" href="#">Скачать</a>
        </div>
    </div>
</div>

<div class="container">
    <div class="common-padding">
        <h2>Промальп</h2>
        <div class="splide goods-gallery medium-gallery margin-top-60" role="group">
            <div class="splide__arrows">
                <button class="splide__arrow splide__arrow--prev">
                    <i class="icon icon-arrow-200"></i>
                    <i class="icon icon-arrow-300"></i>
                </button>
                <button class="splide__arrow splide__arrow--next">
                    <i class="icon icon-arrow-200"></i>
                    <i class="icon icon-arrow-300"></i>
                </button>
            </div>
            <div class="splide__track slides">
                <ul class="splide__list">
                    {% for i in range(0, 12) %}
                        <li class="splide__slide">
                            <a class="good" href="#">
                                <div class="preview"><img src="{{ '/images/goods/medium/good_1.jpg' | url }}"></img></div>                            
                                <div class="title">{{ i }} Страховочные и удерживающие привязи</div>
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        <div class="splide goods-gallery large-gallery margin-top-60" role="group">
            <div class="splide__arrows">
                <button class="splide__arrow splide__arrow--prev">
                    <i class="icon icon-arrow-200"></i>
                    <i class="icon icon-arrow-300"></i>
                </button>
                <button class="splide__arrow splide__arrow--next">
                    <i class="icon icon-arrow-200"></i>
                    <i class="icon icon-arrow-300"></i>
                </button>
            </div>
            <div class="splide__track slides">
                <ul class="splide__list">
                    {% for good in goods | goodsByGroup("mainLarge") %}
                        <li class="splide__slide">
                            {% include "components/goods/large-good-card.njk" %}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="container">
</div>

<div class="full-width-background-1">
    <div class="large-news-block">
        <a class="news-element" href="#" style="background-image: url({{ 'images/news/large/1.jpg' | url }});">
            <div class="title">Отзыв SCORPIO EASHOOK</div>
        </a>
        <a class="news-element" href="#" style="background-image: url({{ 'images/news/large/2.jpg' | url }});">
            <div class="title">Информация по безопасности: случаи проскальзывания с ZIGZAG</div>
        </a>
    </div>
</div>

<div class="container">
    <h2>Спорт</h2>
    <div class="splide goods-gallery medium-gallery margin-top-60" role="group">
        <div class="splide__arrows">
            <button class="splide__arrow splide__arrow--prev">
                <i class="icon icon-arrow-200"></i>
                <i class="icon icon-arrow-300"></i>
            </button>
            <button class="splide__arrow splide__arrow--next">
                <i class="icon icon-arrow-200"></i>
                <i class="icon icon-arrow-300"></i>
            </button>
        </div>
        <div class="splide__track slides">
            <ul class="splide__list">
                {% for i in range(0, 12) %}
                    <li class="splide__slide">
                        <a class="good" href="#">
                            <div class="preview"><img src="{{ '/images/goods/medium/good_1.jpg' | url }}"></img></div>                            
                            <div class="title">{{ i }} Страховочные и удерживающие привязи</div>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>

<div class="full-width-background-1 margin-top-80"">
    <div class="medium-news-block">
        <a class="news-element" href="#" style="background-image: url({{ 'images/news/medium/1.jpg' | url }});">
            <div class="title">Отзыв SCORPIO EASHOOK</div>
        </a>
        <a class="news-element" href="#" style="background-image: url({{ 'images/news/medium/1.jpg' | url }});">
            <div class="title">Отзыв SCORPIO EASHOOK</div>
        </a>
        <a class="news-element" href="#" style="background-image: url({{ 'images/news/medium/1.jpg' | url }});">
            <div class="title">Отзыв SCORPIO EASHOOK</div>
        </a>
    </div>
</div>