---
layout: layouts/main.njk
---

<div class="hero mainpage-hero">
    <div class="container">
        <div class="hero-title">Каталог PRO 2022</div>
        <div class="hero-content">Новый каталог - снаряжение для работы на высоте</div>
        <a class="white-transp-btn" href="#">Скачать</a>
    </div>
</div>

<div class="container">
    <h2>Промальп</h2>
    <div class="medium-goods-gallery">
        <div class="arrow left"></div>
        <div class="goods-list">
            <a class="good" href="#">
                <img class="preview" src="{{ '/images/goods/medium/good_1.jpg' | url }}"></img>
                <div class="title">Страховочные и удерживающие привязи</div>
            </a>
            <a class="good" href="#">
                <img class="preview" src="{{ '/images/goods/medium/good_2.jpg' | url }}"></img>
                <div class="title">Страховочные и удерживающие привязи</div>
            </a>
            <a class="good" href="#">
                <img class="preview" src="{{ '/images/goods/medium/good_1.jpg' | url }}"></img>
                <div class="title">Страховочные и удерживающие привязи</div>
            </a>
            <a class="good" href="#">
                <img class="preview" src="{{ '/images/goods/medium/good_2.jpg' | url }}"></img>
                <div class="title">Страховочные и удерживающие привязи</div>
            </a>
            <a class="good" href="#">
                <img class="preview" src="{{ '/images/goods/medium/good_1.jpg' | url }}"></img>
                <div class="title">Страховочные и удерживающие привязи</div>
            </a>
            <a class="good" href="#">
                <img class="preview" src="{{ '/images/goods/medium/good_2.jpg' | url }}"></img>
                <div class="title">Страховочные и удерживающие привязи</div>
            </a>
            <a class="good" href="#">
                <img class="preview" src="{{ '/images/goods/medium/good_1.jpg' | url }}"></img>
                <div class="title">Страховочные и удерживающие привязи</div>
            </a>
        </div>
        <div class="arrow right"></div>
    </div>
</div>

<div class="container">
    <div class="large-goods-gallery">
        <div class="arrow left"></div>
        <div class="goods-list">
            <a class="good" href="#">
                <img class="preview" src="{{ '/images/goods/large/good_1.jpg' | url }}"></img>
                <div class="info-block">
                    <div class="title">ASAP</div>
                    <div class="description">Мобильное устройство остановки падения</div>
                    <div class="bottom-line">
                        <div class="price">18 990 руб.</div>
                        <div class="jump">Подробнее</div>
                    </div>
                </div>
            </a>
            <a class="good" href="#">
                <img class="preview" src="{{ '/images/goods/large/good_1.jpg' | url }}"></img>
                <div class="info-block">
                    <div class="title">ASAP</div>
                    <div class="description">Мобильное устройство остановки падения</div>
                    <div class="bottom-line">
                        <div class="price">18 990 руб.</div>
                        <div class="jump">Подробнее</div>
                    </div>
                </div>
            </a>
            <a class="good" href="#">
                <img class="preview" src="{{ '/images/goods/large/good_1.jpg' | url }}"></img>
                <div class="info-block">
                    <div class="title">ASAP</div>
                    <div class="description">Мобильное устройство остановки падения</div>
                    <div class="bottom-line">
                        <div class="price">18 990 руб.</div>
                        <div class="jump">Подробнее</div>
                    </div>
                </div>
            </a>
        </div>
        <div class="arrow right"></div>
    </div>
</div>

<div class="full-width-background-1">
    <div class="large-news-block">
        <a class="news-element" href="#" style="background-image: url({{ 'images/news/large/1.jpg' | url }});">
            <div class="title">Отзыв SCORPIO EASHOOK</div>
        </a>
        <a class="news-element" href="#" style="background-image: url({{ 'images/news/large/2.jpg' | url }});">
            <div class="title">Информация по безопасности: случаи проскальзывания с ZIGZAG</div>
        </a>
    </div>
</div>

<div class="container">
    <h2>Спорт</h2>
    <div class="medium-goods-gallery">
        <div class="arrow left"></div>
        <div class="goods-list">
            <a class="good" href="#">
                <img class="preview" src="{{ '/images/goods/medium/good_1.jpg' | url }}"></img>
                <div class="title">Страховочные и удерживающие привязи</div>
            </a>
            <a class="good" href="#">
                <img class="preview" src="{{ '/images/goods/medium/good_1.jpg' | url }}"></img>
                <div class="title">Страховочные и удерживающие привязи</div>
            </a>
            <a class="good" href="#">
                <img class="preview" src="{{ '/images/goods/medium/good_1.jpg' | url }}"></img>
                <div class="title">Страховочные и удерживающие привязи</div>
            </a>
            <a class="good" href="#">
                <img class="preview" src="{{ '/images/goods/medium/good_1.jpg' | url }}"></img>
                <div class="title">Страховочные и удерживающие привязи</div>
            </a>
            <a class="good" href="#">
                <img class="preview" src="{{ '/images/goods/medium/good_1.jpg' | url }}"></img>
                <div class="title">Страховочные и удерживающие привязи</div>
            </a>
            <a class="good" href="#">
                <img class="preview" src="{{ '/images/goods/medium/good_1.jpg' | url }}"></img>
                <div class="title">Страховочные и удерживающие привязи</div>
            </a>
            <a class="good" href="#">
                <img class="preview" src="{{ '/images/goods/medium/good_1.jpg' | url }}"></img>
                <div class="title">Страховочные и удерживающие привязи</div>
            </a>
        </div>
        <div class="arrow right"></div>
    </div>
</div>

<div class="full-width-background-1">
    <div class="medium-news-block">
        <a class="news-element" href="#" style="background-image: url({{ 'images/news/medium/1.jpg' | url }});">
            <div class="title">Отзыв SCORPIO EASHOOK</div>
        </a>
        <a class="news-element" href="#" style="background-image: url({{ 'images/news/medium/1.jpg' | url }});">
            <div class="title">Отзыв SCORPIO EASHOOK</div>
        </a>
        <a class="news-element" href="#" style="background-image: url({{ 'images/news/medium/1.jpg' | url }});">
            <div class="title">Отзыв SCORPIO EASHOOK</div>
        </a>
    </div>
</div>

<div class="subscribe-block">
    <div class="text-part">
        <div class="big-text">Подписаться на рассылку</div>
        <div class="small-text">и всегда быть в курсе</div>
    </div>
    <div class="form-part">
        <form class="subscribe-field">
            <input type="text" placeholder="Введите ваш email"/>
            <button class="btn search-input" type="submit">Подписаться</button>
        </form>
    </div>
</div>