.main-good-block {
    margin: 60px 34px 17px;
    display: flex;
    column-gap: 16px;

    @media (max-width: $screensize-medium) {
        margin: 32px 16px 20px;
    }

    .good-photos {
        display: flex;
        column-gap: 16px;
    
        .good-photo-gallery {
            width: 100px;
            display: flex;
            row-gap: 16px;
            flex-direction: column;

            .gallery {
                display: flex;
                flex-direction: column;
                row-gap: 16px;

                .photo-preview {
                    height: 88px;
                    width: 100px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    cursor: pointer;

                    @include select-border-2;
                }

                img {
                    max-width: 100%;
                    max-height: 100%;
                }
            }

            .scroll-btn {
                width: 100%;
                cursor: pointer;
                display: flex;
                justify-content: center;
                align-items: center;

                &.back {

                    i {
                        transform: rotate(-90deg);
                    }
                }

                &.forward {

                    i {
                        transform: rotate(90deg);
                    }
                }
            }
        }
    
        .good-selected-photo {
            display: flex;
            justify-content: center;
            align-items: center;
            max-width: 680px;

            @media (max-width: $screensize-large-2) {

                img {
                    max-width: none;
                    width: 100%;
                }
            }
        }

        @media (max-width: $screensize-medium) {
            flex-direction: column-reverse;
            width: 50%;
            justify-content: flex-end;

            .good-photo-gallery {
                flex-direction: row;
                column-gap: 8px;
                width: 100%;
                height: 90px;
                overflow: hidden;

                .gallery {
                    flex-direction: row;
                    flex-wrap: wrap;
                    column-gap: 8px;
                }

                .scroll-btn {
                    display: none;
                }
            }
        }    
    }

    .good-base {
        display: flex;
        flex-direction: column;
        row-gap: 32px;
        width: 100%;

        @media (max-width: $screensize-large-2) {

            width: auto;
        }

        .good-name {

            .category {
                font-size: 18px;
                color: $gray-color-600;
                line-height: 130%;
            }

            .name {
                font-size: 48px;
                color: $gray-color-800;
                font-weight: 700;
                line-height: 56px;
            }

            .code {
                font-size: 14px;
                color: $gray-color-600;
                line-height: 130%;

                .separator {
                    margin: 0 10px;
                }
            }
        }

        .good-price {

            .price {
                font-size: 32px;
                font-weight: 700;
                line-height: 140%;
                color: $gray-color-800;
            }

            .avaible {
                font-size: 14px;
                line-height: 130%;
                color: $gray-color-600;

                &::before {
                    display: inline-block;
                    content: "";
                    background: url(../images/good-avaible.svg);
                    width: 16px;
                    height: 16px;
                    margin: 0 auto;
                    background-repeat: no-repeat;
                    background-position: 50%;
                    background-size: 100%;
                    margin-right: 8px;
                }
            }
        }

        .good-options {
            display: flex;
            flex-direction: column;
            row-gap: 16px;
            
            .small-label {
                font-size: 14px;
                color: $gray-color-600;
                margin-bottom: 8px;
            }

            .colors {
            
                .color-list {
                    display: flex;
                    column-gap: 8px;
                }
    
                .color-preview {
                    width: 48px;
                    height: 48px;
                    @include select-border-2;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    cursor: pointer;
    
                    img {
                        max-width: 100%;
                        max-height: 100%;
                    }

                    &.selected {
                        border: 1px solid $gray-color-600;
                    }
                }
            }

            .sizes {

                .sizes-block {
                    display: flex;
                    column-gap: 8px;
                }

                .size {
                    width: 48px;
                    height: 48px;
                    @include select-border-2;
                    font-size: 24px;
                    color: $gray-color-600;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    cursor: pointer;

                    &.selected {
                        border: 1px solid $gray-color-600;
                    }
                }
            }

            .count {

                .counter-block {
                    display: flex;
                    align-items: center;
                    column-gap: 24px;
                }

                .counter {
                    width: 48px;
                    height: 48px;
                    @include border-2;
                    font-size: 24px;
                    color: $gray-color-600;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    cursor: default;
                }
            }
        }

        .buy-input {
            font-size: 18px;
            box-shadow: 0 2px 6px rgba(0,0,0,.15);
            min-height: 52px;
            width: fit-content;
            padding: 5px 26px 0px;

            .icon {
                margin-right: 10px;
                font-size: 20px;
                vertical-align: -2px;
            }
        }

        @media (max-width: $screensize-medium) {
            width: 50%;


        }
    }

    .good-flags {
        display: flex;
        flex-direction: column;
        row-gap: 4px;

        .flag {
            width: 100px;
            height: 48px;

            &::after {
                font-size: 18px;
            }
        }

        @media (max-width: $screensize-large-2) {
            display: none;
        }
    }
}