.main-good-block {
    margin: 60px 14px 17px;
    display: flex;
    column-gap: 16px;

    @media (max-width: $screensize-medium) {
        margin: 32px 16px 20px;
    }

    @media (max-width: $screensize-small-2) {
        flex-direction: column;
        align-items: center;
        row-gap: 40px;
    }

    .good-photos {
        display: flex;
        column-gap: 16px;

        .splide_container {
            position: relative;
        }

        .personal-gallery {
            position: unset;
            margin: 0 auto;

            .splide__arrows {
                position: unset;
            }

            .photo-preview {
                height: 88px;
                width: 100px;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                margin: 0 auto;

                @include select-border-2;
            }

            img {
                max-width: 100%;
                max-height: 100%;
            }
        }
    
        .good-photo-gallery {
            width: 100px;
            display: flex;
            row-gap: 16px;
            flex-direction: column;

            .gallery {
                display: flex;
                flex-direction: column;
                row-gap: 16px;

                .photo-preview {
                    height: 88px;
                    width: 100px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    cursor: pointer;

                    @include select-border-2;
                }

                img {
                    max-width: 100%;
                    max-height: 100%;
                }
            }

            .scroll-btn {
                width: 100%;
                cursor: pointer;
                display: flex;
                justify-content: center;
                align-items: center;

                &.back {

                    i {
                        transform: rotate(-90deg);
                    }
                }

                &.forward {

                    i {
                        transform: rotate(90deg);
                    }
                }
            }
        }
    
        .good-selected-photo {
            display: flex;
            justify-content: center;
            align-items: center;
            max-width: 680px;

            @media (max-width: $screensize-large-2) {

                img {
                    max-width: none;
                    width: 100%;
                }
            }
        }

        @media (max-width: $screensize-medium) {
            flex-direction: column-reverse;
            justify-content: flex-end;

            .good-photo-gallery {
                flex-direction: row;
                column-gap: 8px;
                width: 100%;
                height: 90px;
                overflow: hidden;

                .gallery {
                    flex-direction: row;
                    flex-wrap: wrap;
                    column-gap: 8px;
                }

                .scroll-btn {
                    display: none;
                }
            }
        }

        @media (max-width: $screensize-small-2) {
            width: 100%;
        }

        @media (width > $screensize-medium) {
            
            .personal-gallery {
                position: relative;
        
                .slides {
                    margin: 46px 0 0;
                }
        
                .splide__slide {
                    display: flex;
                    align-items: center;
                }
        
                .splide__arrow {
                    width: 100%;
                    height: auto;
                    font-size: 18px;
        
                    i {
                        width: 32px;
                        height: 32px;
                        border-radius: 100%;
                        background-color: $gray-color-50;
                        color: $gray-color-200;
                        vertical-align: -4px;
                        display: inline-block;
        
                        &::before {
                            vertical-align: -9px;
                            margin-left: 4px;
                        }
                    }

                    .icon-arrow-300 {
                        display: none;
                    }
        
                    &.splide__arrow--next {
                        right: unset;
                        bottom: -46px;
        
                        i {
                            transform: rotate(90deg);
                        }
                    }
        
                    &.splide__arrow--prev {
                        left: unset;
                        top: 0px;
        
                        i {
                            transform: rotate(-90deg);
                        }
                    }
        
                    &:hover {
                        background-color: unset;
                    }
                }
            }
        }
    }

    .good-base {
        display: flex;
        flex-direction: column;
        row-gap: 32px;
        width: 100%;

        @media (max-width: $screensize-large-2) {
            width: auto;
        }

        .good-name {

            .category {
                font-size: 18px;
                color: $gray-color-600;
                line-height: 130%;
            }

            .name {
                font-size: 48px;
                color: $gray-color-800;
                font-weight: 700;
                line-height: 56px;
            }

            .code {
                font-size: 14px;
                color: $gray-color-600;
                line-height: 130%;

                .separator {
                    margin: 0 10px;
                }
            }
        }

        .good-price {

            .price {
                font-size: 32px;
                font-weight: 700;
                line-height: 140%;
                color: $gray-color-800;
            }

            .avaible {
                font-size: 14px;
                line-height: 130%;
                color: $gray-color-600;

                &::before {
                    display: inline-block;
                    content: "";
                    background: url(../images/good-avaible.svg);
                    width: 16px;
                    height: 16px;
                    margin: 0 auto;
                    background-repeat: no-repeat;
                    background-position: 50%;
                    background-size: 100%;
                    margin-right: 8px;
                }
            }
        }

        .good-options {
            display: flex;
            flex-direction: column;
            row-gap: 16px;
            
            .small-label {
                font-size: 14px;
                color: $gray-color-600;
                margin-bottom: 8px;
            }

            .colors {
            
                .color-list {
                    display: flex;
                    column-gap: 8px;
                }
    
                .color-preview {
                    width: 48px;
                    height: 48px;
                    @include select-border-2;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    cursor: pointer;
    
                    img {
                        max-width: 100%;
                        max-height: 100%;
                    }

                    &.selected {
                        border: 1px solid $gray-color-600;
                    }
                }
            }

            .sizes {

                .sizes-block {
                    display: flex;
                    column-gap: 8px;
                }

                .size {
                    width: 48px;
                    height: 48px;
                    @include select-border-2;
                    font-size: 24px;
                    color: $gray-color-600;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    cursor: pointer;

                    &.selected {
                        border: 1px solid $gray-color-600;
                    }
                }
            }

            .count {

                .counter-block {
                    display: flex;
                    align-items: center;
                    column-gap: 24px;
                }

                .counter {
                    width: 48px;
                    height: 48px;
                    @include border-2;
                    font-size: 24px;
                    color: $gray-color-600;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    cursor: default;
                }
            }
        }

        .buy-input {
            font-size: 18px;
            box-shadow: 0 2px 6px rgba(0,0,0,.15);
            min-height: 52px;
            width: fit-content;
            padding: 5px 26px 0px;

            .icon {
                margin-right: 10px;
                font-size: 20px;
                vertical-align: -2px;
            }
        }

        @media (max-width: $screensize-medium) {
            width: 50%;
            max-width: 250px;
            min-width: 200px;
        }

        @media (max-width: $screensize-small-2) {
            text-align: center;
            align-items: center;
        }
    }

    .good-flags {
        display: flex;
        flex-direction: column;
        row-gap: 4px;

        .flag {
            width: 100px;
            height: 48px;

            &::after {
                font-size: 18px;
            }
        }

        @media (max-width: $screensize-large-2) {
            display: none;
        }
    }
}

.good-description {
    background-color: $white-color;
    border: 1px solid $gray-color-100;
    box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 16px;
    font-size: 12px;
    color: $gray-color-600;

    h2 {
        font-size: 18px;
        margin: 0;
        color: $gray-color-800;
        text-align: left;
    }
}

.good-data-table-slider {
    overflow: hidden;
    text-align: center;
    position: relative;
}

.good-data-table-arrows {
    position: absolute;
    width: 100%;
    height: 100%;
    pointer-events: none;
    top: 0;

    .arrow {
        width: 32px;
        height: 32px;
        background-color: $gray-color-200;
        opacity: 0.3;
        border-radius: 100%;
        position: absolute;
        top: calc(50% - 16px);
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        pointer-events: auto;

        i {
            color: $white-color;
            margin-top: 4px;
            margin-left: 4px;
        }
    }

    .arrow-left {
        left: 10px;
        transform: scaleX(-1);
    }

    .arrow-right {
        right: 10px;
    }
}

.good-data-table-container {
    border-radius: 8px;
    overflow: hidden;
    border: 1px solid $gray-color-200;
    display: inline-block;
    margin-left: 16px;
    margin-right: 16px;
    transform: translateX(0px);
    //transition: transform 1s ease;
}

.good-data-table {
    border-collapse: collapse;
    width: calc(100% + 2px);
    margin: -1px 0px -1px -1px;
    font-size: 14px;
    text-align: left;
    user-select: none;

    tr:nth-child(2n) {
        background-color: $gray-color-75;
    }

    th, td {
        border: 1px solid $gray-color-200;
        height: 40px;
        padding-left: 11px;
    }

    th {
        min-width: 130px;
    }

    td {
        min-width: 120px;
    }
}