$remove-right-column-size: 1320px;
$final-mobile-size: 850px;

.main-good-block {
    margin: 60px 14px 17px;
    display: flex;
    column-gap: 16px;

    @media (max-width: $screensize-medium) {
        margin: 32px 16px 20px;
        flex-direction: column;
        align-items: center;
        row-gap: 40px;
    }

    @media (max-width: $screensize-small-2) {
    }

    .good-photos {
        display: flex;
        flex-shrink: 1;
        flex-grow: 1;
        column-gap: 16px;

        .splide_container {
            position: relative;
        }

        .mini-reviews {
            position: unset;
            margin: 0 auto;

            .splide__arrows {
                position: unset;
            }

            .photo-preview {
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                margin: 0 auto;

                @include border-2;
            }

            li.active .photo-preview {
                border: 1px solid $gray-color-600;
            }

            img {
                max-width: 100%;
                max-height: 100%;
            }
        }

        .full-good-images {
            width: 100%;
        }
    
        .good-photo-gallery {
            width: 100px;
            display: flex;
            row-gap: 16px;
            flex-direction: column;

            .gallery {
                display: flex;
                flex-direction: column;
                row-gap: 16px;

                .photo-preview {
                    height: 88px;
                    width: 100px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    cursor: pointer;

                    @include select-border-2;
                }

                img {
                    max-width: 100%;
                    max-height: 100%;
                }
            }

            .scroll-btn {
                width: 100%;
                cursor: pointer;
                display: flex;
                justify-content: center;
                align-items: center;

                &.back {

                    i {
                        transform: rotate(-90deg);
                    }
                }

                &.forward {

                    i {
                        transform: rotate(90deg);
                    }
                }
            }
        }
    
        .good-selected-photo {
            display: flex;
            justify-content: center;
            align-items: center;
            max-width: 680px;
            position: relative;
            cursor: url(../images/ui/zoom-in.png),auto;
            margin: 0 auto;

            @media (max-width: $screensize-large-2) {

                img {
                    max-width: none;
                    width: 100%;
                }
            }

            .zoomer {
                background-color: #ffffffc2;
                background-position: 50%;
                position: fixed;
                width: 100%;
                height: 100%;
                background-repeat: no-repeat;
                visibility: hidden;
                z-index: 6;
                top: 0px;
                left: 0px;
            }

            &.zoomed {
                cursor: url(../images/ui/zoom-out.png),auto;
                
                img {
                    visibility: hidden;
                }

                .zoomer {
                    visibility: visible;
                }
            }
        }

        @media (max-width: $screensize-medium-3) {
            width: 100%;
            flex-direction: column-reverse;
            justify-content: flex-end;

            .good-photo-gallery {
                flex-direction: row;
                column-gap: 8px;
                width: 100%;
                height: 90px;
                overflow: hidden;

                .gallery {
                    flex-direction: row;
                    flex-wrap: wrap;
                    column-gap: 8px;
                }

                .scroll-btn {
                    display: none;
                }
            }
        }

        @media (width > $screensize-medium-3) {
            
            .mini-reviews {
                position: relative;
        
                .slides {
                    margin: 46px 0;
                }
        
                .splide__slide {
                    display: flex;
                    align-items: center;
                }
        
                .splide__arrow {
                    width: 100%;
                    height: auto;
                    font-size: 18px;
        
                    i {
                        width: 32px;
                        height: 32px;
                        border-radius: 100%;
                        background-color: $gray-color-50;
                        color: $gray-color-200;
                        vertical-align: -4px;
                        display: inline-block;
        
                        &::before {
                            vertical-align: -9px;
                            margin-left: 4px;
                        }
                    }

                    .icon-arrow-300 {
                        display: none;
                    }
        
                    &.splide__arrow--next {
                        right: unset;
                        bottom: -46px;
        
                        i {
                            transform: rotate(90deg);
                        }
                    }
        
                    &.splide__arrow--prev {
                        left: unset;
                        top: 0px;
        
                        i {
                            transform: rotate(-90deg);
                        }
                    }
        
                    &:hover {
                        background-color: unset;
                    }
                }
            }
        }
    }

    .good-base {
        display: flex;
        flex-direction: column;
        row-gap: 32px;
        width: 100%;

        @media (max-width: $screensize-large-2) {
            width: auto;
        }

        .good-name {

            .category {
                font-size: 18px;
                color: $gray-color-600;
                line-height: 130%;
            }

            .name {
                font-size: 48px;
                color: $gray-color-800;
                font-weight: 700;
                line-height: 56px;
            }

            .code {
                font-size: 14px;
                color: $gray-color-600;
                line-height: 130%;

                .separator {
                    margin: 0 10px;
                }
            }
        }

        .good-price {

            .price {
                font-size: 32px;
                font-weight: 700;
                line-height: 140%;
                color: $gray-color-800;
            }

            .avaible {
                font-size: 14px;
                line-height: 130%;
                color: $gray-color-600;

                &::before {
                    display: inline-block;
                    content: "";
                    background: url(../images/good-avaible.svg);
                    width: 16px;
                    height: 16px;
                    margin: 0 auto;
                    background-repeat: no-repeat;
                    background-position: 50%;
                    background-size: 100%;
                    margin-right: 8px;
                }
            }
        }

        .good-options {
            display: flex;
            flex-direction: column;
            row-gap: 16px;
            
            .small-label {
                font-size: 14px;
                color: $gray-color-600;
                margin-bottom: 8px;
            }

            .colors {
            
                .color-list {
                    display: flex;
                    column-gap: 8px;
                }
    
                .color-preview {
                    width: 48px;
                    height: 48px;
                    @include select-border-2;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    cursor: pointer;
    
                    img {
                        max-width: 100%;
                        max-height: 100%;
                    }

                    &.selected {
                        border: 1px solid $gray-color-600;
                    }
                }
            }

            .sizes {

                .sizes-block {
                    display: flex;
                    column-gap: 8px;
                }

                .size {
                    width: 48px;
                    height: 48px;
                    @include select-border-2;
                    font-size: 24px;
                    color: $gray-color-600;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    cursor: pointer;

                    &.selected {
                        border: 1px solid $gray-color-600;
                    }
                }
            }

            .count {

                .counter-block {
                    display: flex;
                    align-items: center;
                    column-gap: 24px;
                }

                .counter {
                    width: 48px;
                    height: 48px;
                    @include border-2;
                    font-size: 24px;
                    color: $gray-color-600;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    cursor: default;
                }
            }
        }

        .buy-input {
            font-size: 18px;
            box-shadow: 0 2px 6px rgba(0,0,0,.15);
            min-height: 52px;
            width: fit-content;
            padding: 5px 26px 0px;

            .icon {
                margin-right: 10px;
                font-size: 20px;
                vertical-align: -2px;
            }
        }

        @media (max-width: $screensize-medium) {
            width: 50%;
            max-width: 250px;
            min-width: 200px;
        }

        @media (max-width: $screensize-small-2) {
            text-align: center;
            align-items: center;
        }
    }

    .good-base-2 {
        display: grid;
        flex-grow: 1;
        flex-shrink: 2;
        grid-template-areas:
        "name"
        "price"
        "options"
        "cart";
            
        .small-label {
            font-size: 14px;
            color: $gray-color-600;
            margin-bottom: 8px;
        }

        .good-options {
            grid-area: options;
            display: flex;
            flex-direction: column;
            row-gap: 16px;
        }

        .good-name {
            grid-area: name;

            .category {
                font-size: 18px;
                color: $gray-color-600;
                line-height: 130%;
            }

            .name {
                font-size: 48px;
                color: $gray-color-800;
                font-weight: 700;
                line-height: 56px;
            }

            .code {
                font-size: 14px;
                color: $gray-color-600;
                line-height: 130%;

                .separator {
                    margin: 0 10px;
                }
            }
        }

        .good-price {
            grid-area: price;

            .price {
                font-size: 32px;
                font-weight: 700;
                line-height: 140%;
                color: $gray-color-800;
            }

            .avaible {
                font-size: 14px;
                line-height: 130%;
                color: $gray-color-600;

                &::before {
                    display: inline-block;
                    content: "";
                    background: url(../images/good-avaible.svg);
                    width: 16px;
                    height: 16px;
                    margin: 0 auto;
                    background-repeat: no-repeat;
                    background-position: 50%;
                    background-size: 100%;
                    margin-right: 8px;
                }
            }
        }

        .good-colors {
            grid-area: color;
        
            .color-list {
                display: flex;
                column-gap: 8px;
            }

            .color-preview {
                width: 48px;
                height: 48px;
                @include select-border-2;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;

                img {
                    max-width: 100%;
                    max-height: 100%;
                }

                &.selected {
                    border: 1px solid $gray-color-600;
                }
            }
        }

        .good-sizes {
            grid-area: size;

            .sizes-block {
                display: flex;
                column-gap: 8px;
            }

            .size {
                width: 48px;
                height: 48px;
                @include select-border-2;
                font-size: 24px;
                color: $gray-color-600;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;

                &.selected {
                    border: 1px solid $gray-color-600;
                }
            }
        }

        .good-count {
            grid-area: count;

            .counter-block {
                display: flex;
                align-items: center;
                column-gap: 24px;
            }

            .counter {
                width: 48px;
                height: 48px;
                @include border-2;
                font-size: 24px;
                color: $gray-color-600;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: default;
            }
        }

        .buy-input {
            grid-area: cart;

            font-size: 18px;
            box-shadow: 0 2px 6px rgba(0,0,0,.15);
            height: 52px;
            width: fit-content;
            padding: 5px 26px 0px;

            .icon {
                margin-right: 10px;
                font-size: 20px;
                vertical-align: -2px;
            }
        }
        
        @media (max-width: $screensize-medium) {
            width: 100%;
            grid-gap: 20px;
            grid-template-columns: 2fr 1fr;            

            grid-template-areas:
            "name options"
            "price options"
            ". options"
            "cart .";
        }
        
        @media (max-width: $screensize-small-2) {
            justify-content: center;
            text-align: center;
            grid-template-columns: auto;

            grid-template-areas:
            "name"
            "price"
            "options"
            "cart";

            .color-list, .sizes-block, .counter-block {
                justify-content: center;
            }

            .buy-input {
                margin: 0 auto;
            }
        }
    }

    .good-flags {
        display: flex;
        flex-direction: column;
        row-gap: 4px;

        .flag {
            width: 100px;
            height: 48px;

            &::after {
                font-size: 18px;
            }
        }

        @media (max-width: $screensize-large-2) {
            display: none;
        }
    }
}

.info-container {
    background-color: $white-color;
    border: 1px solid $gray-color-100;
    box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 32px;
    font-size: 14px;
    color: $gray-color-600;
    overflow: hidden;

    h2 {
        font-size: 24px;
        margin: 0;
        color: $gray-color-800;
        text-align: left;
    }

    @media (max-width: $screensize-small-2) {
        font-size: 12px;
        padding: 16px;

        h2 {
            font-size: 18px;
        }
    }
}

.two-column-grid {
    display: grid;
    grid-template-columns: auto 332px;

    .right-column {
        padding-left: 0;
        grid-row-start: 1;
        grid-row-end: 3;
        grid-column-start: 2;
        grid-column-end: 3;
    }

    .good-characteristics {
        font-size: 14px;
        padding: 24px;
    
        h2 {
            font-size: 24px;
        }
    }
    
    .good-video {
        padding: 0;
        margin-top: 16px;
    }
    
    .good-files {
        margin-top: 16px;
        font-size: 14px;
        padding: 16px 24px;
    
        ul {
            list-style-type: none;
        }
    
        li {
            display: flex;
            align-items: flex-start;
            column-gap: 8px;
            margin-top: 16px;
    
            a {
                text-decoration: underline;
                color: $gray-color-600;
            }
        }
        
        li:first-child{
            margin-top: 0;
        }
    }

    @media (max-width: $remove-right-column-size) {
        display: block;

        .right-column {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-column-gap: 16px;
            margin-top: 64px;
            padding-left: 16px;

            .good-characteristics {
                padding: 16px;
    
                h2 {
                    font-size: 20px;
                }
            }
            
            .good-video {
                margin-top: 0;
            }

            .good-files {
                padding: 16px;
                grid-column: 1 / 3;
                grid-row: 2 / 3;
            }

            @media (max-width: $final-mobile-size) {
                display: block;

                .good-characteristics {
                    padding: 16px;
        
                    h2 {
                        font-size: 24px;
                    }
                }

                .good-video {
                    margin-top: 16px;
                }
            }
        }
    }
}

.good-data-table-slider {
    overflow: hidden;
    text-align: center;
    position: relative;
}

.good-data-table-arrows {
    position: absolute;
    width: 100%;
    height: 100%;
    pointer-events: none;
    top: 0;

    .arrow {
        width: 32px;
        height: 32px;
        background-color: $gray-color-200;
        opacity: 0.3;
        border-radius: 100%;
        position: absolute;
        top: calc(50% - 16px);
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        pointer-events: auto;

        i {
            color: $white-color;
            margin-top: 4px;
            margin-left: 4px;
        }
    }

    .arrow-left {
        left: 10px;
        transform: scaleX(-1);
    }

    .arrow-right {
        right: 10px;
    }
}

.good-data-table-container {
    border-radius: 8px;
    overflow: hidden;
    border: 1px solid $gray-color-200;
    display: inline-block;
    margin-left: 16px;
    margin-right: 16px;
    transform: translateX(0px);
    //transition: transform 1s ease;
}

.good-data-table {
    border-collapse: collapse;
    width: calc(100% + 2px);
    margin: -1px 0px -1px -1px;
    font-size: 14px;
    text-align: left;
    user-select: none;

    tr:nth-child(2n) {
        background-color: $gray-color-75;
    }

    th, td {
        border: 1px solid $gray-color-200;
        height: 40px;
        padding-left: 11px;
    }

    th {
        min-width: 130px;
    }

    td {
        min-width: 120px;
    }
}

.faq-block {
    padding: 16px;

    h2 {
        font-size: 24px;
        text-align: left;
        color: $gray-color-800;
    }

    ul {        
        list-style-type: none;

        li {
            border: 1px solid $gray-color-100;
            padding: 16px;
            margin-top: 16px;
            color: $gray-color-600;
        }
    }
    
    .faq-question {
        position: relative;
        cursor: pointer;
        
        h3 {            
            font-size: 18px;
            font-weight: normal;
            margin: 0;
            margin: 0 27px 0 0;

            &:hover {
                text-decoration: underline;
            }
        }

        i {
            position: absolute;
            right: 6px;
            top: 0;
            color: $gray-color-200;
            transform: rotate(90deg);
            transition: transform 0.5s ease-in;
        }

        &.opened {
            i {
                transform: rotate(90deg) scaleX(-1);
            }
        }
    }

    .faq-answer {
        font-size: 14px;
    }
    
    @media (max-width: $remove-right-column-size) {
        h2 {
            font-size: 20px;
        }
    }

    @media (max-width: $final-mobile-size) {
        h2 {
            font-size: 18px;
        }
    
        .faq-question {
            
            h3 {            
                font-size: 16px;
            }
        }
    }
}

.look-another {
    margin-top: 64px;

    h2 {
        font-size: 32px;
        color: $gray-color-800;
        width: 100%;
        text-align: left;
        margin-bottom: 37px;
    }
    
    @media (max-width: $remove-right-column-size) {
        h2 {
            text-align: center;
            font-size: 24px;
        }
    }

    @media (max-width: $final-mobile-size) {
        h2 {
            font-size: 20px;
        }
    }
}

.notext-hero {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 650px;

    @media (max-width: $screensize-large-2) {
        height: 480px;
    }

    @media (max-width: $screensize-small-2) {
        height: 210px;
    }
}