.shipping {
    margin-bottom: 46px;

    .header-addition {
        font-size: 32px;
    }

    h2 {
        margin-top: 64px;
        margin-bottom: 32px;
        font-size: 32px;
        font-family: HelveticaThin;
    }

    h1 + h2 {
        margin-top: -8px;
    }

    .shipping-regions {
        margin-top: 32px;
        display: flex;
        flex-direction: column;
        row-gap: 32px;
    }

    .info-container {

        .region-header {
            font-size: 32px;
            line-height: 140%;
            color: $gray-color-800;
            font-weight: 700;
            margin-bottom: 16px;
        }
    }

    .payment-methods {
        display: flex;
        column-gap: 32px;
        align-items: center;
    }

    .last-questions {
        margin-top: 32px;
        font-size: 24px;
        line-height: 140%;
        text-align: center;

        a {
            color: $orange-color;
        }
    }

    @media (max-width: $screensize-large) {
        .last-questions {
            font-size: 20px;
        }
    }

    @media (max-width: $screensize-medium-3) {
        .info-container {
    
            .region-header {
                font-size: 20px;
                text-align: center;
            }
        }

        .last-questions {
            font-size: 18px;
        }

        .payment-methods {
            flex-direction: column-reverse;
            row-gap: 24px;
        }
    }

    @media (max-width: $screensize-small-2) {
        h2 {
            font-size: 24px;
        }
    }
}