.sport-content {
    display: flex;
    padding-bottom: 100px;
    padding-left: 37px;
    padding-right: 23px;
    width: auto;
}

@media (max-width: $screensize-large) {
    .sport-content {
        flex-direction: column;
        padding-left: 17px;
        padding-right: 17px;
    }
}