.sport-content {
    display: flex;
    padding-bottom: 100px;
}

.sport-menu {
    min-width: 448px;

    .title {
        font-size: 32px;
        color: $gray-color-800;
        text-transform: uppercase;
    }

    .menu-lines {
        display: flex;
        flex-direction: column;
        row-gap: 16px;
        margin-top: 20px;
    }

    .line {
        font-size: 18px;
        display: block;
        color: $gray-color-800;
        
        &.attention {
            color: $orange-color;
            text-transform: uppercase;
        }
    }
}