<a class="large-horizontal-good" href="#">
    <div class="preview-container">
        <img class="preview" src="{{ good.image | url }}"></img>
    </div>
    <div class="info-block">
        <div class="title">{{ good.title }}</div>
        <div class="description">{{ good.description }}</div>
        <div class="bottom-line">
            <div class="price">{{ good.price }} руб.</div>
            <div class="jump">Подробнее</div>
        </div>
    </div>
</a>