---
eleventyNavigation:
    key: Articles
    parent: Main
    title: Статьи
---
{% include "components/common/breacrumbs.njk" %}

<div class="container">
    <div class="common-padding">
        <div class="articles">
            <h1>Статьи</h1>
            <div class="articles-with-filters">
                <div class="hiding-menu filters-menu">
                    <div class="catalog-opener" data-hide-button-for="articles-filters">Категории</div>
                    <div id="articles-filters" class="filters">
                        <div class="filter">
                            <input type="radio" id="filter-all" name="filter" value="all" checked>
                            <label for="filter-all">Все статьи</label>
                        </div>
                        <div class="filter">
                            <input type="radio" id="filter-work-with-equip" name="filter" value="all">
                            <label for="filter-work-with-equip">Работа со снаряжением. Базовые знания</label>
                        </div>
                        <div class="filter">
                            <input type="radio" id="filter-tests-and-review" name="filter" value="all">
                            <label for="filter-tests-and-review">Тесты, отзывы, сравнения</label>
                        </div>
                        <div class="filter">
                            <input type="radio" id="filter-detailed-look" name="filter" value="all">
                            <label for="filter-detailed-look">Детальный осмотр</label>
                        </div>
                        <div class="filter">
                            <input type="radio" id="filter-vertical-life" name="filter" value="all">
                            <label for="filter-vertical-life">Вертикальная жизнь</label>
                        </div>
                        <div class="filter">
                            <input type="radio" id="filter-family-rest" name="filter" value="all">
                            <label for="filter-family-rest">Семейный отдых и походы</label>
                        </div>
                        <div class="filter">
                            <input type="radio" id="filter-trailrunning" name="filter" value="all">
                            <label for="filter-trailrunning">Трейлраннинг и городской бег</label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="articles-block big">
                {% for i in range(0, 2) -%}
                    <a class="article-element" href="#">
                        <img class="image" src="/images/articles/ba{{ i + 1 }}.jpg" />
                        <div class="category">Работа со снаряжением. Базовые знания.</div>
                        <div class="title">Исследование травматизма среди промышленных альпинистов</div>
                        <div class="preview-content">
                            Представляем вам большую научную работу - "Эпидемиологическое исследование травматизма среди промышленных альпинистов во Франции. Анализ условий труда и типология травм." Бенедикт Виньяль, Бастьен Суле, Изабель Роговски. Университет Лион 1
                        </div>
                    </a>
                {%- endfor %}
            </div>

            <div class="articles-block small">
                {% for i in range(0, 6) -%}
                    <a class="article-element" href="#">
                        <img class="image" src="/images/articles/sa{{ i % 3 + 1 }}.jpg" />
                        <div class="category">Вертикальная жизнь</div>
                        <div class="title">Из глубин - История PETZL - Скачать книгу</div>
                        <div class="preview-content">
                            С чего началась история компании? Что двигало людьми, создавшими Petzl? Какие события (и хорошие, и не очень) привели к тому, что это стало возможно? Предлагаем вам ознакомиться с
                        </div>
                    </a>
                {%- endfor %}
            </div>

            <div class="navigation">
                <button class="btn transp-gray-btn">Показать больше</button>
                <div class="pages">
                    <div class="page current">1</div>
                    <div class="page">2</div>
                    <div class="page">3</div>
                    <div class="dots">...</div>
                    <div class="page">13</div>
                    <div class="right-arrow">></div>
                </div>
            </div>
        </div>
    </div>
</div>