<div class="basket-page">
    <div class="container">
        <div class="common-padding">
            <h1>Оформление заказа</h1>

            <table class="basket-content">
                <tr>
                    <th>Фото</th>
                    <th>Наименование</th>
                    <th>Количество, шт.</th>
                    <th>Стоимость</th>
                </tr>
                <tr>
                    <td>
                        <img src="/images/other/basket/image2.jpg" />
                    </td>
                    <td class="name-cell">
                        <div class="name">FLY</div>
                        <div class="info">
                            Размер: L</br>
                            # 364001
                        </div>
                    </td>
                    <td>
                        <div class="good-count">
                            <div id="decrease-count" class="gray-border-btn"><i class="icon icon-minus"></i></div>
                            <div class="counter">1</div>
                            <div id="increase-count" class="gray-border-btn"><i class="icon icon-plus"></i></div>
                        </div>
                    </td>
                    <td></td>
                </tr>
            </table>
        </div>
    </div>
</div>