---
eleventyNavigation:
    key: FilmCollection
    parent: Main
    title: Фильмотека
---
{% include "components/common/breacrumbs.njk" %}

<div class="film-collection">
    <div class="container">
        <div class="common-padding">
            <h1>Фильмотека</h1>
        </div>
    </div>
</div>