---
eleventyNavigation:
    key: Shipping
    parent: Main
    title: Доставка и оплата
---
{% include "components/common/breacrumbs.njk" %}

<div class="shipping">
    <div class="container">
        <div class="common-padding">
            <h1>Доставка и оплата</h1>

            <h2>Условия и стоимость доставки заказов</h2>
            <div class="shipping-regions">
                <div class="info-container">
                    <div class="region-header">Москва</div>
                    <ul class="custom-ul">
                        <li><strong>200 рублей</strong> при покупке менее 3000 рублей</li>
                        <li><strong>Бесплатно</strong> при покупке от 3000 рублей</li>
                        <li><strong>Срочная доставка</strong> (день в день при заказе до 13:00, на следующий день при заказе после 13:00). Плюс 500 рублей к стоимости (700 рублей при заказе до 3000 рублей, 500 рублей при заказе более 3000 рублей).</li>
                    </ul>
                </div>

                <div class="info-container">
                    <div class="region-header">Московская область</div>
                    <ul class="custom-ul">
                        <li><strong>300 рублей</strong> при покупке менее 3000 рублей</li>
                        <li><strong>Бесплатно</strong> при покупке от 3000 рублей</li>
                    </ul>
                </div>

                <div class="info-container">
                    <div class="region-header">По России</div>
                    <ul class="custom-ul">
                        <li><strong>300 рублей</strong> при покупке менее 3000 рублей</li>
                        <li><strong>Бесплатно</strong> при покупке от 3000 рублей</li>
                    </ul>
                </div>

                <div class="info-container">
                    <div class="region-header">Другие страны</div>
                    <ul class="custom-ul">
                        <li>Стоимость доставки рассчитывается индивидуально</li>
                    </ul>
                </div>

                <div class="info-container">
                    <div class="region-header">Самовывоз</div>
                    <ul class="custom-ul">
                        <li>Стоимость доставки рассчитывается индивидуально</li>
                    </ul>
                </div>
            </div>
            
            <h2>Оплата заказов</h2>
            <div class="info-container">
                <div class="payment-methods">
                    <div>
                        <img class="payment-cards" src="/images/other/basket/visa.png" />
                        <img class="payment-cards" src="/images/other/basket/mastercard.png" />
                        <img class="payment-cards" src="/images/other/basket/mir.png" />
                    </div>
                    <div>
                        <ul class="custom-ul">
                            <li>Наличными при получении (для физических лиц)</li>
                            <li>Оплата по счету для юридических лиц</li>
                            <li>Оплата картой на сайте. Для оплаты с карты лимит не более 350 000 рублей в сутки</li>
                        </ul>
                    </div>
                </div>
                <div class="last-questions">
                    Остались вопросы?<br />
                    Обращайтесь: +7 (495) 134-74-46, <a href = "mailto: sale@petzl.ru">sale@petzl.ru</a>
                </div>
                    
            </div>
            
            <h2>Возврат товара</h2>
            <div class="info-container">
                <ul class="custom-ul">
                    <li>Заполните <a href="/other/quality-questions/">заявление на возврат</a></li>
                    <li>Приложите ксерокопию документа, удостоверяющего личность</li>
                    <li>Отправьте посылку почтой без наложенного платежа (Москва, г. Зеленоград, 1015-258, для ИП Безручко)</li>
                    <li>Получите оплату на карту или банковские реквизиты</li>
                </ul>                    
            </div>
        </div>
    </div>
</div>