@font-face {
    font-family: "icons";
    src: url("./icons.eot?03c92bd02db2e62e7622c6bbc5350da1#iefix") format("embedded-opentype"),
url("./icons.woff2?03c92bd02db2e62e7622c6bbc5350da1") format("woff2"),
url("./icons.woff?03c92bd02db2e62e7622c6bbc5350da1") format("woff");
}

i[class^="icon-"]:before, i[class*=" icon-"]:before {
    font-family: icons !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-100:before {
    content: "\f101";
}
.icon-arrow-200:before {
    content: "\f102";
}
.icon-arrow-300:before {
    content: "\f103";
}
.icon-bug:before {
    content: "\f104";
}
.icon-minus:before {
    content: "\f105";
}
.icon-plus:before {
    content: "\f106";
}
