.breadcrumbs {
    height: 36px;
    background-color: $gray-color-800;

    .container {
        height: 100%;
    }

    ol {
        display: flex;
        margin: 0;
        padding: 0;
        column-gap: 50px;
        height: 100%;
        align-items: center;
    }

    li {
        display: block;
        list-style-type: none;
        position: relative;

        a {
            text-decoration: none;
            font-size: 14px;
            color: $gray-color-200;

            &:hover {
                text-decoration: underline;
            }
        }

        &:not(:last-child):after {
            background : url(../images/breadcrumps-arrow.svg) no-repeat;
            content: "";
            display: block;
            position: absolute;
            right: -36px;
            top: -10px;
            width: 20px;
            height: 38px;
        }
    }
}