.footer {
    margin-bottom: 52px;
    padding-top: 23px;
    padding-left: 33px;
    padding-right: 50px;

    .main-grid {
        display: flex;
        justify-content: space-between;
    }

    .brand-part {
        flex-grow: 1.4;

        .top-text {
            font-size: 14px;
            font-weight: bold;
        }
    
        .rules {
            font-size: 14px;
            line-height: 140%;
            color: $gray-color-200;
            margin-top: 52px;
            max-width: 555px;
        }
    
        .follow-block {
            margin-top: 52px;
        }
    
        .invite-text {
            font-size: 32px;
            line-height: 140%;
            color: $gray-color-800;
        }
    
        .social-links {
            margin-top: 16px;
            display: flex;
            max-width: 506px;
            justify-content: space-between;
            align-items: center;
        }
    }

    .footer-menu {
        display: flex;
        flex-direction: column;
        row-gap: 16px;
        flex-grow: 0;

        .menu-element {
            text-decoration: none;
            color: $gray-color-800;
            font-size: 18px;
            line-height: 130%;
        }
    }

    .contacts {
        display: flex;
        flex-grow: 2;
        justify-content: flex-end;
        column-gap: 82px;

        .column {
            display: flex;
            flex-direction: column;
            row-gap: 12px;
            max-width: 260px;
        }

        .title {
            color: $gray-color-800;
            font-size: 18px;
            line-height: 130%;
        }

        .menu-element {
            text-decoration: none;
            color: $gray-color-600;
            font-size: 14px;
            line-height: 130%;
            display: flex;
            column-gap: 8px;
            align-items: flex-start;

            .icon {
                margin-right: 8px;
                display: block;
                margin-top: 1px;
                float: left;
            }

            &.underline {
                text-decoration: underline;
            }
        }

        .vlab-logo {
            width: 49px;
        }

        .big-gap {
            margin-top: 27px;
        }
        
        .paid-methods {
            margin-top: 10px;            
        }
    }

    .mobile-contacts {
        display: none;
    }
}


@media (max-width: 1288px) {
    .footer {
        .footer-menu {
            display: none;
        }
    }
}


@media (max-width: 1050px) {
    .footer {
        padding-top: 8px;
        
        .main-grid {
            flex-direction: column;
        }

        .contacts {
            display: none;
        }
    
        .brand-part {
            .follow-block {
                margin-top: 20px;
            }

            .logo-container {
                display: none;
            }

            .invite-text {
                display: none;
            }

            .social-links {
                margin: 0 auto;
            }

            .rules {
                display: none
            }
        }  

        .mobile-contacts {  
            display: flex;
            justify-content: center;
            column-gap: 30px;
            margin-top: 24px;

            .menu-element {
                text-decoration: none;
                color: $gray-color-600;
                font-size: 14px;
                line-height: 130%;
                display: flex;
                column-gap: 8px;
                align-items: flex-start;
            }
        }
    } 
}


@media (max-width: 520px) {
    .footer {
        padding-top: 7px;
        margin-bottom: 28px;
        padding-left: 5px;
        padding-right: 5px;

        .brand-part {
            .follow-block {
                margin-top: 0;
            }

            .social-links {
                max-width: 310px;

                .round-btn.big {
                    height: 40px;
                    width: 40px;
                }
            }
        }

        .mobile-contacts {
            margin-top: 17px;
        }
    }
}