.middlebar {
    .first-level {
        padding-left: 37px;
        padding-right: 38px;
        display: flex;
        justify-content: space-between;
        column-gap: 32px;
    }

    .logo-container {
        margin-top: 30px;
    }
    
    .search-field {
        display: flex;
        align-items: flex-start;
        margin: 32px 0 0;

        input {
            border: 1px solid $gray-color-100;
            border-radius: 2px;
            width: 442px;
            height: 34px;
            padding-left: 38px;
            font-weight: 400;
            font-size: 14px;
            line-height: 130%;
            color: $gray-color-200;
        }

        .search-input {
            margin-left: 8px;
        }

        .magnifier-icon {
            position: absolute;
            width: 16px;
            height: 16px;
            padding-top: 10px;
            padding-left: 12px;
        }
    }

    .bar-contacts {
        display: flex;
        align-items: flex-start;
        column-gap: 12px;
        margin-top: 32px;

        .phone-and-worktime {
            white-space: nowrap;
        }

        .phone-text {
            color: $gray-color-600;
            font-size: 18px;
        }
    
        .worktime-text {
            color: $gray-color-200;
            font-size: 12px;
        }
    }

    .personal-menu {
        display: flex;
        align-items: flex-start;
        column-gap: 23px;
        margin-top: 37px;
    }
}