.middlebar {
    .first-level {
        padding-left: 37px;
        padding-right: 38px;
        display: flex;
        justify-content: space-between;
        column-gap: 32px;
    }

    .hamburger-btn {
        display: none;
    }

    .logo-container {
        margin-top: 30px;
    }
    
    .search-field {
        display: flex;
        align-items: flex-start;
        margin: 32px 0 0;

        input {
            border: 1px solid $gray-color-100;
            border-radius: 2px;
            width: 442px;
            height: 34px;
            padding-left: 38px;
            font-weight: 400;
            font-size: 14px;
            line-height: 130%;
            color: $gray-color-200;
        }

        .search-input {
            margin-left: 8px;
        }

        .magnifier-icon {
            position: absolute;
            width: 16px;
            height: 16px;
            padding-top: 10px;
            padding-left: 12px;
        }
    }

    .bar-contacts {
        display: flex;
        align-items: flex-start;
        column-gap: 12px;
        margin-top: 32px;

        .phone-and-worktime {
            white-space: nowrap;
        }

        .phone-text {
            color: $gray-color-600;
            font-size: 18px;
        }
    
        .worktime-text {
            color: $gray-color-200;
            font-size: 12px;
        }
    }

    .personal-menu {
        display: flex;
        align-items: flex-start;
        column-gap: 23px;
        margin-top: 37px;
    }
}

@media (max-width: 1440px) {
    .middlebar {
        padding-bottom: 9px;
        
        .first-level {
            padding-left: 25px;
            padding-right: 25px;
        }

        .logo-container {
            margin-top: 10px;
        }

        .personal-menu {
            margin-top: 28px;
        }

        .hamburger-btn {
            display: block;
            width: 50px;
            height: 50px;
            position: relative;
            cursor: pointer;
            margin-top: 13px;

            .first-line {
                position: absolute;
                top: 21px;
                left: 14px;
                transition: all 0.3s ease-out;
            }

            .second-line {
                position: absolute;
                top: 28px;
                left: 14px;
                transition: all 0.3s ease-out;
            }

            &:hover {
                .first-line {
                    top: 24px;
                    transform: rotate(-45deg);
                }
    
                .second-line {
                    top: 24px;
                    transform: rotate(45deg);
                }
            }
        }

        .search-field {
            display: none;
        }

        .bar-contacts {
            display: none;
        }
    }
}