$mobile-menu-width: 375px;

.middlebar {
    background-color: white;
    
    .first-level {
        padding-left: 37px;
        padding-right: 38px;
        display: flex;
        justify-content: space-between;
        column-gap: 32px;
        align-items: center;
        min-height: 103px;
    }

    .logo-container {

        .logo-img {
            width: 100%;
            max-width: 280px;
            min-width: 165px;
        }
    }
    
    .search-field {
        display: flex;
        align-items: flex-start;
        margin-top: 2px;
        width: 100%;
        max-width: 604px;

        input {
            border: 1px solid $gray-color-100;
            border-radius: 2px;
            height: 34px;
            padding-left: 38px;
            font-weight: 400;
            font-size: 14px;
            line-height: 130%;
            color: $gray-color-200;
            width: 100%;
        }

        .search-input {
            margin-left: 8px;
        }

        .magnifier-icon {
            position: absolute;
            width: 16px;
            height: 16px;
            padding-top: 10px;
            padding-left: 12px;
        }
    }

    .mini-contacts {
        display: flex;
        align-items: flex-start;
        column-gap: 12px;
        margin-top: 2px;
    
        .phone-and-worktime {
            white-space: nowrap;
        }
    
        .phone-text {
            color: $gray-color-600;
            font-size: 18px;
        }
    
        .worktime-text {
            color: $gray-color-200;
            font-size: 12px;
        }

        &.in-mobile-menu {
            margin-top: 30px;
        }
    }

    .mobile-search-field {
        display: none;
    }

    .personal-menu {
        display: flex;
        align-items: flex-start;
        column-gap: 23px;
        margin-top: 7px;
    }

    .mobile-menu {
        display: none;

        .mobile-submenu {        
            position: absolute;
            width: 100%;
            background-color: $white-color;
            z-index: -1;
            transition: all 0.5s ease-out;
            top: 100%;
            left: -$mobile-menu-width;
            max-width: $mobile-menu-width;
            padding: 0 16px;
            box-sizing: border-box;
            padding-bottom: 30px;
    
            &.opened {
                left: 0px;
                box-shadow: 0px 0px 14px #00000054;
            }

            .main-category {
                position: relative;
                display: block;
                text-decoration: none;
                cursor: pointer;
                border-bottom: 1px solid $gray-color-100;

                .main-title {
                    position: relative;
                    min-height: 60px;
                    line-height: 60px;
                    font-size: 20px;
                    color: $gray-color-600;
                }

                &.parent .main-title::after {
                    background: url(../images/navbar-parent.svg) no-repeat;
                    content: "";
                    display: block;
                    width: 8px;
                    background-size: 8px 14px;
                    height: 14px;
                    transition: all 0.2s ease-out;
                    position: absolute;
                    top: calc(50% - 7px);
                    right: 8px;
                }

                &.parent.opened {
                    .main-title::after {
                        transform: rotate(90deg);
                    }
                }
            }

            .categories-list-grow {
                height: 0px;
                overflow: hidden;
                transition: all 0.3s ease-out;
            }

            .categories-list {
                display: flex;
                flex-direction: column;
                row-gap: 4px;
                padding-bottom: 16px;
            }

            .category {
                min-height: 40px;
                line-height: 40px;
                background-color: #f7f7f7;
                display: flex;
                align-items: center;
                border-radius: 4px;
                position: relative;
                padding: 4px 32px 4px 0px;
                box-sizing: border-box;
                text-decoration: none;

                .icon {
                    width: 38px;
                    height: 30px;
                    margin: 0 16px;
                }

                .title {
                    font-size: 16px;
                    color: $gray-color-600;
                    line-height: 150%;
                }

                &::after {
                    background: url(../images/navbar-parent.svg) no-repeat;
                    content: "";
                    display: block;
                    width: 8px;
                    background-size: 8px 14px;
                    height: 14px;
                    transition: all 0.2s ease-out;
                    position: absolute;
                    right: 21px;
                    top: calc(50% - 7px);
                    opacity: 0.4;
                }
            }
            
            .mobile-menu-options {
                margin-top: 24px;
                
                a {
                    display: block;
                    font-size: 16px;
                    text-decoration: none;
                    color: $gray-color-600;
                    margin-top: 10px;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}

@media (max-width: 1440px) {
    .middlebar {
        padding-bottom: 9px;
        
        .first-level {
            padding-left: 25px;
            padding-right: 25px;
            min-height: 80px;
        }

        .personal-menu {
            margin-top: 10px;
        }

        .logo-container {
            margin-top: 11px;
        }

        .mini-contacts.in-middle-bar {
            display: none;
        }
    }
}

@media (max-width: 1100px) {    
    .middlebar {

        .mobile-menu {
            display: block;

            .hamburger-btn {
                min-width: 20px;
                height: 50px;
                position: relative;
                cursor: pointer;
        
                .first-line {
                    position: absolute;
                    top: 21px;
                    transition: all 0.3s ease-out;
                    width: 100%;
                }
        
                .second-line {
                    position: absolute;
                    top: 28px;
                    transition: all 0.3s ease-out;
                    width: 100%;
                }
        
                &.opened {

                    .first-line {
                        top: 24px;
                        transform: rotate(-45deg);
                    }
        
                    .second-line {
                        top: 24px;
                        transform: rotate(45deg);
                    }
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .middlebar {
        padding-bottom: 0;

        .first-level {
            min-height: 50px;
        }
        
        .personal-menu {
            column-gap: 19px;
        }

        .search-field {
            display: none;
        }

        .mobile-search-field {
            display: block;
            margin-top: 9px;
            border: 1px solid $gray-color-100;
            border-left: 0;
            border-right: 0;
    
            input {
                height: 46px;
                padding-left: 51px;
                font-weight: 400;
                font-size: 12px;
                color: $gray-color-200;
                border: none;
                width: 100%;
            }
    
            .magnifier-icon {
                position: absolute;
                width: 16px;
                height: 16px;
                padding-top: 15px;
                padding-left: 25px;
            }
        }
    }
}

@media (max-width: 375px) {
    .middlebar {
        
        .logo-container {
            
            .logo-img {
                display: none;
            }
        }
    }
}

@media (max-width: $mobile-menu-width) {
    .middlebar {

        .mobile-menu {

            .mobile-submenu {
                left: -100%;
            }
        }
    }
}