.large-news-block {
    margin-top: 100px;
    display: flex;
    max-width: 1540px;
    margin: 100px auto 0;

    .news-element {
        text-align: center;
        text-decoration: none;
        width: 50%;
        background-size: cover;
        height: 0;
        padding-bottom: 50%;
        background-position: center;
        background-size: 100%;
        transition: background-size 0.5s ease-out;
        background-position: center;

        &:hover {
            background-size: 110%;
        }

        .title {
            font-weight: 700;
            font-size: 32px;
            line-height: 140%;
            color: $white-color;
            margin: 70px auto 0;
            padding-left: 16px;
            padding-right: 16px;;
            max-width: 600px;
        }
    }
}

.medium-news-block {
    margin-top: 40px;
    display: flex;
    max-width: 1540px;
    margin: 0 auto;

    .news-element {
        text-align: center;
        text-decoration: none;
        width: 33.33%;
        background-size: cover;
        height: 0;
        padding-bottom: 33.33%;
        background-position: center;
        background-size: 100%;
        transition: background-size 0.5s ease-out;

        &:hover {
            background-size: 110%;
        }

        .title {
            font-weight: 700;
            font-size: 32px;
            line-height: 140%;
            color: $white-color;
            margin: 55px auto 0;
            padding-left: 16px;
            padding-right: 16px;;
            max-width: 362px;
        }
    }
}

.news-preview-block {
    text-align: center;
    transition: height 1s ease-in;

    .news-list {
        display: grid;
        grid-template-columns: repeat(auto-fill, 25%);
        justify-content: space-evenly;

        @media (max-width: $screensize-large) {
            grid-template-columns: repeat(auto-fill, 33%);
        }
    
        @media (max-width: $screensize-medium-2) {
            grid-template-columns: repeat(auto-fill, 50%);
        }
    
        @media (max-width: $screensize-small-2) {
            grid-template-columns: repeat(auto-fill, 100%);
        }
    }

    .news-element {
        margin: 16px 8px 8px;
        padding: 8px 8px 16px;
        @include select-shadow;
        text-decoration: none;
        text-align: left;

        &:hover {
            .read-btn {
                visibility: visible;
            }
        }
    
        @media (max-width: $screensize-small-2) {
            &:nth-child(n + 4) {
                display: none;
            }
        }
    }

    &.showed-fully {
        .news-element {
            display: block !important;
        }
    }

    .image {
        width: 100%;
    }

    .title {
        font-size: 18px;
        color: $gray-color-800;
        margin-top: 8px;
    }

    .preview-content {
        font-size: 12px;
        color: $gray-color-600;
        margin-top: 8px;
    }

    .read-btn {
        color: #F0571B;
        font-size: 14px;
        margin-top: 8px;
        float: right;
        visibility: hidden;

        &::after {
            background: url(../images/orange-arrow.svg) no-repeat;
            content: "";
            display: inline-block;
            height: 10px;
            width: 6px;
            margin-left: 4px;
            background-size: 100%;
        }

        &:hover {
            text-decoration: underline;
        }
    }
}

@media (max-width: 1060px) {
    .large-news-block {    
        .news-element {
            text-align: left;
            .title {
                margin-top: 16px;
                font-size: 24px;
            }
        }
    }

    .medium-news-block {    
        .news-element {
            .title {
                margin-top: 35px;
                font-size: 24px;
            }
        }
    }
}

@media (max-width: $screensize-medium) {
    .large-news-block {
        margin-top: 48px;
    }
}

@media (max-width: 520px) {
    .large-news-block {  
        flex-direction: column;

        .news-element {
            width: 100%;
            padding-bottom: 60%;

            .title {                
                font-size: 32px;
            }
        }
    }

    .medium-news-block {   
        flex-direction: column; 

        .news-element {
            width: 100%;
            padding-bottom: 60%;

            .title {
                font-size: 32px;
            }
        }
    }
}

@media (max-width: 400px) {
    .large-news-block {  
        .news-element {
            padding-bottom: 100%;
            
            .title {
                font-size: 24px;
                margin-top: 20%;
                margin-left: 5%;
                margin-right: 5%;
            }
        }
    }

    .medium-news-block {   
        .news-element {
            padding-bottom: 100%;

            .title {
                font-size: 24px;
                margin-top: 20%;
                margin-left: 5%;
                margin-right: 5%;
            }
        }
    }
}