.large-news-block {
    margin-top: 100px;
    display: flex;
    max-width: 1540px;
    margin: 0 auto;

    .news-element {
        text-align: center;
        text-decoration: none;
        width: 50%;
        background-size: cover;
        height: 0;
        padding-bottom: 50%;

        .title {
            font-weight: 700;
            font-size: 32px;
            line-height: 140%;
            color: $white-color;
            margin: 70px auto 0;
            padding-left: 16px;
            padding-right: 16px;;
            max-width: 600px;
        }
    }
}

.medium-news-block {
    margin-top: 40px;
    display: flex;
    max-width: 1540px;
    margin: 0 auto;

    .news-element {
        text-align: center;
        text-decoration: none;
        width: 33.33%;
        background-size: cover;
        height: 0;
        padding-bottom: 33.33%;

        .title {
            font-weight: 700;
            font-size: 32px;
            line-height: 140%;
            color: $white-color;
            margin: 55px auto 0;
            padding-left: 16px;
            padding-right: 16px;;
            max-width: 362px;
        }
    }
}

@media (max-width: 1060px) {
    .large-news-block {    
        .news-element {
            text-align: left;
            .title {
                margin-top: 16px;
                font-size: 24px;
            }
        }
    }

    .medium-news-block {    
        .news-element {
            .title {
                margin-top: 35px;
                font-size: 24px;
            }
        }
    }
}