.topbar {
    background-color: #43423F;

    a {
        color: white;
        font-size: 14px;
        font-weight: bold;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }

    .first-level {
        min-height: 33px;
        display: flex;
        justify-content: space-between;
        padding-left: 32px;
        padding-right: 72px;
        align-items: center;
    }

    .second-level {
        display: flex;
        column-gap: 24px;
    }
}