.topbar {
    background-color: #43423F;

    .shops-name {
        cursor: default;
    }

    a, .shops-name {
        color: white;
        font-size: 14px;
        font-weight: bold;
    }

    a {
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }

    .first-level {
        min-height: 33px;
        display: flex;
        justify-content: space-between;
        padding-left: 32px;
        padding-right: 72px;
        align-items: center;
    }

    .second-level {
        display: flex;
        column-gap: 24px;
    }
}

@media (min-width: 768px) {
    .topbar {
        .first-level {
            padding-left: 0px;
            padding-right: 0px;
        }
    }
}