.btn {
    min-width: 139px;
    min-height: 36px;
    background: $yellow-color;
    border-radius: 2px;
    border: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
    color: $white-color;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    white-space: nowrap;

    &:hover {
        text-decoration: underline;
    }

    &.orange {
        background-color: $orange-color;
    }

    &.transp-gray-btn {
        min-height: 52px;
        background-color: $white-color;
        color: $gray-color-200;
        border: 1px solid $gray-color-200;
        border-radius: 4px;
        padding: 0 30px;
        font-size: 20px;
        text-transform: none;
    }
}

@keyframes background-wiggle {
    0% {
      background-position: 50% 50%;
    }

    12.5% {
      background-position: 60% 50%;
    }

    37.5% {
      background-position: 40% 50%;
    }

    62.5% {
      background-position: 60% 50%;
    }

    87.5% {
      background-position: 40% 50%;
    }
}

.round-btn {
    width: 32px;
    height: 32px;
    border-radius: 100%;
    background: $white-color;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 18px;

    &.big {
        width: 64px;
        height: 64px;
    }

    .icon-container {
        position: relative;
        width: 50%;
        height: 50%;
    }

    img {
        position: absolute;
        width: 100%;
        height: 100%;
        transition: all 0.3s ease-in;
    }

    .color-icon {
        opacity: 0;
    }

    &:hover {
        animation-name: background-wiggle;
        animation-duration: 0.6s;

        .color-icon {
            opacity: 1;
        }

        .gray-icon {
            opacity: 0;
        }
    }
}

.round-gray-btn {
    display: block;
    cursor: pointer;

    i {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 100%;
        width: 32px;
        height: 32px;
        font-size: 12px;
        background: $gray-color-50;
        color: $gray-color-200;
        transition: all 0.2s ease-in;
    }

    &:hover {

        i {
            background: $gray-color-100;
            color: $gray-color-600;
        }
    }
}

.icon-btn {
    position: relative;
    cursor: pointer;
    z-index: 0;

    img {
        max-width: 26px;
        min-width: 26px;
    }

    .btn-counter {
        display: block;
        min-width: 16px;
        min-height: 16px;
        max-width: 16px;
        max-height: 16px;
        background-color: $yellow-color;
        color: $white-color;
        font-size: 12px;
        position: absolute;
        bottom: -2px;
        right: -8px;
        border-radius: 100%;
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }

    &::after {
        content: "";
        display: block;
        width: 0px;
        height: 0px;
        position: absolute;
        background: transparent;
        top: 50%;
        z-index: -1;
        left: 50%;
        border-radius: 100%;    
        transition: all 0.3s cubic-bezier(.65,.05,.36,1);
    }

    &:hover::after {
        width: 42px;
        height: 42px;
        top: -7px;
        left: -8px; 
        background: $gray-color-50;
    }
}

.white-transp-btn {
    display: inline-block;
    min-width: 216px;
    height: 51px;
    background: $white-color-t15;
    border: 1px solid $white-color;
    color: $white-color;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 51px;
    font-size: 20px;

    &:hover {
        text-decoration: none;
        background: hsla(0, 0%, 100%, 0.29);
    }
}


@media (max-width: 768px) {
    .white-transp-btn {
        height: 40px;
        line-height: 40px;
        font-size: 16px;
        min-width: 167px;
    }
}

@media (max-width: 570px) {
    .icon-btn {    
        img {
            max-width: 20px;
        }
    }
}