$yellow-color: #FFD500;
$yellow-hover-color: #ffe359;
$orange-color: #F0571B;
$orange-hover-color: #c14b1d;

$white-color: #FFFFFF;
$white-color-t15: #FFFFFF26;

$gray-color-50: #F2F2F2;
$gray-color-75: #EEEEEE;
$gray-color-100: #D9D8D3;
$gray-color-200: #AEACA0;
$gray-color-600: #43423F;
$gray-color-800: #1D1C1B;