@font-face {
    font-family: "HelveticaThin";
    src: url("../fonts/HelveticaCyr.otf") format("opentype");
    font-style: normal;
    font-weight: lighter;
}

$screensize-large-2: 1174px;
$screensize-large: 940px;
$screensize-medium: 768px;
$screensize-medium-2: 730px;
$screensize-medium-3: 630px;
$screensize-small: 375px;
$screensize-small-2: 500px;



body {
    font-family: 'Helvetica';
}

header {
    z-index: 2;
    position: relative;
}

ul {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

h1 {
    font-size: 64px;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 34px;

    @media (max-width: $screensize-large) {

        font-size: 52px;
        margin-top: 32px;
        margin-bottom: 32px;
    }

    @media (max-width: $screensize-small-2) {

        margin-top: 24px;
        font-size: 40px;
    }
}

h2 {
    font-size: 32px;
    text-align: center;
    font-weight: 400;
    margin-bottom: 25px;
    margin-top: 58px;
}

input[type=text], textarea {
    outline: none;
    border: 1px solid $gray-color-100;
    border-radius: 2px;
    font-size: 14px;
    color: $gray-color-600;
    box-sizing: border-box;
    padding: 0px 14px;

    &:focus {
        border: 1px solid $gray-color-200  !important;
    }

    &::placeholder {
        color: $gray-color-200;
        font-size: 14px;
    }
}

input[type=checkbox] {
    position: absolute;
    z-index: -1;
    opacity: 0;

    &+label {
        cursor: pointer;
        margin-left: 28px;
        position: relative;
        display: inline-block;

        &::before {
            background-color: $orange-color;
            background-position: 50%;
            background-repeat: no-repeat;
            background-size: 75% 75%;
            border-radius: 2px;
            content: "";
            cursor: pointer;
            display: block;
            height: 20px;
            left: -28px;
            position: absolute;
            width: 20px;
            top: -2px;
        }
    }

    &:checked+label {

        &::before {
            background-image: url("/images/ui/checkmark.svg");
        }

    }
}

textarea {
    resize: none;
    padding: 8px;
    min-height: 78px;
    line-height: 130%;
}

.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width: 1440px;
}

.common-padding {
    padding: 0 20px;

    @media (max-width: $screensize-medium) {
        padding: 0 16px;
    }
}

@media (max-width: 1440px) {
    h2 {
        font-size: 40px;
        margin-bottom: 37px;
        margin-top: 76px;
    }
}

@media (max-width: 768px) {
    h2 {
        margin-top: 46px;
        margin-bottom: 20px;
    }
}

@media (min-width: 1550px) {
    .full-width-background-1 {
        background: url(../images/backgrounds/back_1.png);
        background-position-x: 50%;
    }
}

.logo-container {
    display: flex;
    margin-top: 25px;

    .logo {
        margin-top: 7px;
        width: 125px;
    }

    .company-name {
        margin-left: 27px;
        font-size: 18px;
    }
}

.mini-contacts {
    display: flex;
    align-items: flex-start;
    column-gap: 12px;
    margin-top: 2px;

    .phone-and-worktime {
        white-space: nowrap;
    }

    .phone-text {
        color: $gray-color-600;
        font-size: 18px;
    }

    .worktime-text {
        color: $gray-color-200;
        font-size: 12px;
    }
}

input[type=radio] {
    display: none;
}

input[type=radio]+label {
    display: inline-block;
    cursor: pointer;
    position: relative;
    padding-left: 28px;
    margin-right: 0;
    line-height: 18px;
    user-select: none;
    font-size: 18px;
    color: $gray-color-600;
    margin-top: 1px;
    margin-bottom: 1px;
    line-height: 25px;
}

input[type=radio]+label:before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    position: absolute;
    left: 0;
    top: 2px;
    background: url(../images/ui/radiobutton-unchecked.svg) 0 0 no-repeat;
}

input[type=radio]:checked+label:before {
    background: url(../images/ui/radiobutton-active.svg) 0 0 no-repeat;
}

input[type=radio]:not(:checked)+label:hover:before {
    background: url(../images/ui/radiobutton-active.svg) 0 0 no-repeat;
    filter: grayscale(100%) brightness(186%);
}

.filters {
    margin-bottom: 8px;

    .filter {
        display: inline-block;
        margin: 6px 15px;
    }

    @media (max-width: $screensize-large) {
        columns: 2;
        padding-top: 24px;

        .filter {
            width: 100%;
        }
    }

    @media (max-width: 480px) {
        columns: 1;
    }
}

.filter.special {
    label {
        color: $orange-color;
    }
}

.hiding-menu {
    min-width: 260px;
    margin-left: 20px;
    margin-right: 20px;

    .title {
        font-size: 32px;
        color: $gray-color-800;
    }

    .menu-grower {
        transition: all .7s ease-out;
    }

    .menu-lines {
        display: flex;
        flex-direction: column;
        padding: 0;
        column-gap: 20px;

        .menu-column {
            display: flex;
            flex-direction: column;
            row-gap: 16px;
            max-width: 280px;
        }

        .line {
            font-size: 18px;
            display: block;
            color: $gray-color-800;

            &.attention {
                text-transform: uppercase;
                color: $orange-color;
            }
        }
    }

    .catalog-opener {
        display: none;
        font-size: 18px;
        color: $gray-color-200;
        cursor: pointer;
        margin-top: 13px;

        &::after {
            background-image: url(../images/gallery-arrow.svg);
            content: "";
            display: inline-block;
            height: 12px;
            width: 7px;
            background-size: 100%;
            transform: rotate(90deg);
            background-repeat: no-repeat;
            margin-left: 12px;
            vertical-align: -1px;
            transition: transform 0.2s ease-out;
        }

        &.opened::after {
            transform: rotate(-90deg);
        }
    }

    @media (width >= $screensize-large) {
        .hiding-container {
            height: auto !important;
        }
    }

    @media (max-width: $screensize-large) {
        padding-bottom: 35px;

        .hiding-container {
            height: 0;
            overflow: hidden;
        }

        .menu-lines {
            flex-direction: row;
            justify-content: space-evenly;

            .menu-column {
                width: auto;
            }
        }

        .title {
            text-align: center;
            font-size: 24px;
        }

        .catalog-opener {
            font-size: 18px;
            display: block;
            text-align: center;
        }
    }

    @media (max-width: 500px) {
        .menu-lines {
            flex-direction: column;
        }

        .full-text {
            display: none;
        }
    }
}

.hiding-menu.filters-menu {
    .title {
        display: none;
    }

    @media (max-width: $screensize-large) {
        .title {
            display: block;
        }
    }
}

.hiding-text {
    margin: 0 32px;

    .hiding-box {
        position: relative;
        height: 150px;
        overflow: hidden;
        transition: all 0.5s ease-in;
    
        &::before {
            display: block;
            position: absolute;
            width: 100%;
            height: 100%;
            background: linear-gradient(#fff0, white);
            content: "";
            pointer-events: none;
            transition: opacity 0.5s ease-in;
            opacity: 1;
        }
    }

    .open-btn {
        color: $orange-color;
        text-align: center;
        cursor: pointer;
        margin-top: 21px;

        &::after {
            background: url(../images/orange-arrow.svg) no-repeat;
            content: "";
            display: inline-block;
            height: 12px;
            width: 8px;
            transform: rotate(90deg);
            vertical-align: -2px;
            margin-left: 10px;
            transition: transform 0.5s ease-in;
        }
    }

    &.opened {
        .hiding-box {
            &::before {
                opacity: 0;
            }
        }
        
        .open-btn {
            &::after {
                transform: rotate(90deg) scaleX(-1);
            }
        }
    }
}

.margin-top-32 {
    margin-top: 32px;
}

.margin-top-60 {
    margin-top: 60px;
}

.margin-top-64 {
    margin-top: 64px;
}

.margin-top-80 {
    margin-top: 80px;
}

.hiding-container {
    overflow: hidden;
    transition: height 0.5s ease-in 0s;
}

.field-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    label {
        font-size: 14px;
        color: $gray-color-600;
        margin-bottom: 8px;

        @media (max-width: $screensize-small-2) {
            margin-bottom: 16px;
            font-size: 16px;
        }
    }

    &.required {

        label {

            &::after {
                content: "*";
                margin-left: 8px;
                color: $orange-color;
            }
        }
    }

    input[type=text] {
        height: 44px;
    }

    .icon-end{
        display: inline-block;
        position: relative;

        &::before {
            font-family: icons !important;
            font-style: normal;
            font-variant: normal;
            font-weight: 400 !important;
            line-height: 1;
            text-transform: none;

            position: absolute;
            right: 14px;
            top: calc(50% - 8px);
            width: 16px;
            height: 16px;
            color: $gray-color-600;
        }
        
        input[type=text] {
            padding-right: 38px;
        }
    }
}

input[type=checkbox] + label {

    font-size: 18px;
    user-select: none;

    a {
        text-decoration: none;
        color: $orange-color;

        &:hover {
            text-decoration: underline;
        }
    }
}

.navigation {
    margin: 27px auto 38px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .pages {
        display: flex;
        color: $gray-color-200;
        font-size: 18px;
        margin-top: 34px;
        column-gap: 20px;

        .page {
            min-width: 24px;
            min-height: 24px;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
        }

        .right-arrow {
            cursor: pointer;
        }

        .page.current {
            border-radius: 100%;
            background-color: $yellow-color;
            color: $white-color;
        }
    }
}

  select::-ms-expand {
    display: none;
  }

  :root {
    --select-border: #777;
    --select-focus: blue;
    --select-arrow: var(--select-border);
  }

  .select {
    width: 100%;
    border: 1px solid $gray-color-100;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
    background-color: $white-color;
    position: relative;
    box-sizing: border-box;
    overflow: hidden;

    select {
        appearance: none;
        background-color: $white-color;
        border: none;
        margin: 0;
        width: 100%;
        font-family: inherit;
        font-size: inherit;
        cursor: inherit;
        line-height: inherit;
        outline: none;
        color: $gray-color-600;
        height: 42px;
        padding: 0 14px;

        option {
            color: $gray-color-600;
            background-color: $white-color;
        }
    }

    i {
        position: absolute;
        transform: rotate(90deg);
        font-size: 12px;
        color: $gray-color-200;
        right: 18px;
        top: calc(50% - 7px);
    }
  }