@font-face {
  font-family: "HelveticaThin"; 
  src: url("../fonts/HelveticaCyr.otf") format("opentype");; 
  font-style: normal; 
  font-weight: lighter; 
} 


body {
    font-family: 'Helvetica';
}

h2 {
    font-size: 48px;
    text-align: center;
    font-weight: 400;
    margin-top: 83px;
    margin-bottom: 75px;
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 768px) {
  h2 {
    margin-top: 71px;
    margin-bottom: 53px;
  }
}

@media (min-width: 1440px) {
  .container {
    max-width: 1440px;
  }

  h2 {
    margin-top: 83px;
    margin-bottom: 75px;
  }
}

@media (min-width: 1550px) {
  .full-width-background-1 {
    background : url(../images/backgrounds/back_1.png);
    background-position-x: 50%;
  }
}

.logo-container {
    display: flex;

    .logo {
        margin-top: 7px;
        width: 125px;
    }

    .company-name {
        margin-left: 27px;
        font-size: 18px;
    }
}