@font-face {
    font-family: "icons";
    src: url("./../fonts/icons/icons.eot?7d00dffc3a106bfa7e4c5301950567a9#iefix") format("embedded-opentype"),
url("./../fonts/icons/icons.woff2?7d00dffc3a106bfa7e4c5301950567a9") format("woff2"),
url("./../fonts/icons/icons.woff?7d00dffc3a106bfa7e4c5301950567a9") format("woff");
}

i[class^="icon-"]:before, i[class*=" icon-"]:before {
    font-family: icons !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-200:before {
    content: "\f101";
}
.icon-arrow-300:before {
    content: "\f102";
}
.icon-bug:before {
    content: "\f103";
}
.icon-calendar:before {
    content: "\f104";
}
.icon-checkmark:before {
    content: "\f105";
}
.icon-clip:before {
    content: "\f106";
}
.icon-cross:before {
    content: "\f107";
}
.icon-minus:before {
    content: "\f108";
}
.icon-plus:before {
    content: "\f109";
}
.icon-printer:before {
    content: "\f10a";
}
