@mixin select-border {
    border: 1px solid transparent;
    border-radius: 4px;
    overflow: hidden;

    &:hover {
        border: 1px solid $gray-color-200;
    }
}

@mixin border-2 {
    border: 1px solid $gray-color-200;
    border-radius: 4px;
    overflow: hidden;
}

@mixin select-border-2 {
    @include border-2;

    &:hover {
        border: 1px solid $gray-color-600;
    }
}