{% set navPages = collections.all | eleventyNavigationBreadcrumb(eleventyNavigation.key, { includeSelf: true }) %}
<div class="breadcrumbs">    
    <div class="container">
        <div class="desktop">
            <ol itemscope itemtype="https://schema.org/BreadcrumbList">
                {% set pageNumber = 1 %}
                {% for breadcrumb in navPages %}
                    <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
                        <a itemprop="item" href="{{ breadcrumb.url | url }}">
                        <span itemprop="name">{{ breadcrumb.title }}</span></a>
                        <meta itemprop="position" content="{{ pageNumber }}" />
                    </li>
                    {% set pageNumber = pageNumber + 1 %}
                {% endfor %}
            </ol>
        </div>
        <div class="mobile">
            <ol itemscope itemtype="https://schema.org/BreadcrumbList">
                <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
                    <a href="{{ '/' | url }}"><span itemprop="name">Назад</span></a>
                    <meta itemprop="position" content="1" />
                </li>
            </ol>
        </div>
    </div>
</div>