<div class="mini-contacts">
    <a class="round-btn" style="background-image: url({{ '/images/whatsapp-icon.svg' | url }})"></a>
    <a class="round-btn" style="background-image: url({{ '/images/phone-icon.svg' | url }})"></a>
    <div class="phone-and-worktime">
        <div class="phone-text">8 495 134 74 46</div>
        <div class="worktime-text">Интернет-магазин 10:00 - 20:00</div>
    </div>
</div>