---
eleventyNavigation:
    key: SafetySystems
    parent: Sport
    title: Страховочные системы
---

{% include "components/common/breacrumbs.njk" %}

<div class="hero safetysystems-hero">
    <div class="container">
        <div class="hero-content">
            <div class="hero-title">Страховочные системы</div>
            <div class="hero-description">Страховочные системы для всех видов вертикальной активности: для альпинизма, скалолазания, каньонинга, спелеологии...</div>
            <a class="white-transp-btn" href="#">Как выбрать?</a>
        </div>
    </div>
</div>

<div class="container safetysystems-content">
    <div class="goods-with-filters">
        <div class="hiding-menu filters-menu">
            <div class="title">Все товары</div>
            <div class="catalog-opener" data-hide-button-for="goods-filters">Категории<span class="full-text"> товаров</span></div>
            <div id="goods-filters" class="filters">
                <div class="filter">
                    <input type="radio" id="filter-all" name="filter" value="all" checked>
                    <label for="filter-all">Все (53)</label>
                </div>

                <div class="filter">
                    <input type="radio" id="filter-regulated" name="filter" value="regulated">
                    <label for="filter-regulated">Регулируемые системы (10)</label>
                </div>

                <div class="filter">
                    <input type="radio" id="filter-unregulated" name="filter" value="unregulated">
                    <label for="filter-unregulated">Нерегулируемые системы (4)</label>
                </div>

                <div class="filter special">
                    <input type="radio" id="filter-sale" name="filter" value="sale">
                    <label for="filter-sale">Распродажа (10)</label>
                </div>

                <div class="filter special">
                    <input type="radio" id="filter-new" name="filter" value="new">
                    <label for="filter-new">Новинки (16)</label>
                </div>
            </div>
        </div>

        {% set goodsGroup = "sport" %}
        {% set goodsCount = -1 %}
        {% include "components/goods/big-goods-list.njk" %}
    </div>
</div>

<div class="hero narrow" style="background-image: url('/images/heroes/image1.jpg')">
</div>

<div class="container">
    <div class="common-padding">
        <div class="hiding-text">
            <div class="hiding-box">
                <div class="text">
                    <p>Petzl выпускает спортивные страховочные системы для скалолазания и альпинизма, для спелеологии и каньонинга, для веревочных парков и для проката на скалодроме. В ассортименте бренда есть универсальные модели, есть беседки для мужчин, для женщин и для детей, есть нижние и верхние обвязки.</p>
                    <p>Спортивные обвязки можно разделить на два типа – с регулируемыми ножными обхватами и с нерегулируемыми. Например, женская обвязка LUNA с регулируемыми ногами отлично подойдет тем, кто любит универсальность, ее можно надеть как на шорты, так и на зимние утепленные штаны. Беседка SELENA практически такая же, но без регулировки ножных обхватов. Хотя самые популярные обвязки, конечно, это универсальные CORAX.</p>
                    <p>Альпинистские модели также можно разделить по количеству петель снаряжения, а специализированные обвязки для скитура можно надеть, стоя ногами на земле, не снимая лыж или кошек. Также представлен широкий ассортимент страховочных систем для веревочных парков, каньонинга, спелеологии, то есть практически любых видов высотных активностей. Комплект CORAX KIT подойдет тем, кто хочет сразу приобрести готовый набор для скалодрома.</p>
                </div>
            </div>
            <div class="open-btn">
                Показать
            </div>
        </div>

        {% import "components/news/macroses.njk" as news %}
        {{ news.preview() }}
    </div>
</div>
